* {


     box-sizing: border-box;
}

:root{

     --box-bg: rgb(76, 13, 158);
     --Title-font-size: 3rem;
     --button-bg: blue; 
     --button-radius: 10px;
     --button-font-size: .8rem;
     --button-color: rgb(211, 19, 160) ;


}

button{

     background: var(--button-bg);
     border-radius: var(--button-radius);
     font-size: var(--button-font-size);
     color: var(--button-color);
}

.box{
background: var(--box-bg);
     width: 300px;
   /* height: 300px; */
margin-bottom: 2rem;
}
.Tittle{

     font-size: var(--Tittle-font-size);
     line-height: 1.4;
     font-weight: 700;
     text-decoration: underline;
     margin-bottom: 2rem;
}

p{

     font-size: 1rem;
     line-height: 1.4;
     font-weight: 700;
     margin-bottom: 1rem;
}

   
.box2{
     background: var(--box-bg);
     width: 300px;
     /* height: 300px; */
}

   
.box3{

background: var(--box-bg);
     width: 300px;
     /* height: 300px; */
     margin-bottom: 2rem;
}

.box15.Tittle { color: red;}
   
     

